.cards {
	position: relative;
	z-index: 1000;
	@media screen and (min-width: 767px) {
		margin-top: -200px;
	}
	@media screen and (min-width: 1025px) {
		margin-top: -200px;
	}

	.wrapper {
		display: grid;
		grid-template-columns: 1fr;

		@media screen and (min-width: 1025px) {
			grid-template-columns: repeat(3, 1fr);
			gap: 3rem;
		}
	}

	.card {
		background: #fff;
		border-radius: 1rem;
		text-align: center;
		padding: 4.5rem 0;
		/* width: 350px; */

		@media screen and (min-width: 767px) {
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
		@media screen and (min-width: 1025px) {
			display: block;
		}
	}

	.modality {
		font-family: Kumbh Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 28px;
		color: #333950;
	}

	.price {
		font-family: Kumbh Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 56px;
		line-height: 64px;
		color: #333950;
		margin: 5rem 0 3rem;
	}

	.specificity {
		font-family: Kumbh Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
		color: #333950;
	}

	.right {
		margin-top: 5rem;
	}

	.card_item {
		font-family: Kumbh Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		color: #747b95;
	}

	.sep {
		margin: 2rem 0;
	}

	.btn {
		margin-top: 4rem;
	}

	.cards__basic {
		margin-bottom: 3rem;
	}
	.cards__ultimate {
		margin-bottom: 3rem;
	}

	.cards__pro {
		margin-bottom: 3rem;
		background: #5175ff;
		background-image: url(https://vieirahenrique.github.io/officelite/assets/home/bg-pattern-pricing.svg);
		background-position: center bottom 10px;
		background-size: 110rem;
		background-repeat: no-repeat;
		color: #fff;

		.modality {
			color: #fff;
		}
		.price {
			color: #fff;
		}
		.specificity {
			color: #fff;
		}
		.card_item {
			color: rgba($color: #fff, $alpha: 0.75);
		}
	}
}
