.btn {
	display: inline-block;
	background: #5175ff;
	font-weight: bold;
	color: #fff;
	padding: 2rem 4rem;
	border-radius: 10rem;
	box-shadow: 0 2px 5px rgba($color: #5175ff, $alpha: 0.5);
}

.btn-light {
	background: rgba($color: #5175ff, $alpha: 0.15);
	color: #5175ff;
	box-shadow: none;
}

.btn-white {
	background: #fff;
	color: #5175ff;
}
