$white: #eee;
$black: #333;
$color-primary: rgb(31, 90, 218);
$color-primary-light: rgb(101, 150, 255);
$color-primary-dark: rgb(27, 59, 128);
$color-secondary: rgb(252, 171, 21);
$color-secondary-light: rgb(255, 211, 129);
$color-secondary-dark: rgb(223, 134, 0);
